<h4>Your Comment</h4>

<form action="/jobs/{{jobs['id']}}/apply" method="post" >
  <div class="mb-2">
  <label>Input</label><br>
  <input type ="text" name = "full name" placeholder="Your comment/link" >
  </div>

  

  <div class="mb-2">
  <label>Email</label><br>
  <input type ="text" name = "Email" placeholder="gntgtri@mail.com" >
  </div>


  
   <div class="mb-2">  
  <label> URL </label><br>
  <input type ="text" name = "URL" placeholder=".url" >
     </div>
  <div>
    <label>Comment</label><br>
    <textarea name="Comment"></textarea>
  </div>

  <input type ="submit" name="submit">
</form>