<h4>Your Comment</h4>

<form action = ""  id = "1" >
  <div class="mb-2"> 
  <label>Input</label><br>
  <input type ="text" name = "full name" placeholder="Your comment/link" id = "name" >
  </div>

  

  <div class="mb-2">
  <label>Email</label><br>
  <input type ="text" name = "Email" placeholder="gntgtri@mail.com" id = "Email" >
  </div>


  
   <div class="mb-2">  
  <label> URL </label><br>
  <input type ="text" name = "URL" placeholder=".url" id = "URL" >
     </div>
  <div>
    <label>Comment</label><br>
  
    <textarea name="Comment" id = "Comment"></textarea>
  </div>

 
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Submit Details</button>
  </div>
</form>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"> </script>
<script src = "static/hsd.js"> </script>