<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-9">
  <h4 style="color:rgb(120,120,120); margin-bottom:4px;">{{jobs['title']}}</h4>
<div>
  <b>Location:</b> {{jobs['Location']}}
</div>
  {% if 'salary' in jobs%}
  <div>
    <b>Salary:</b> {{jobs['salary']}}
    </div>
  {% endif %}
  </div>
  <div class="col-3">
  </div>
  <a href = "mailto:hello@chris25cr7? subject=Application for {{jobs['title']}}"  type="button" class="btn btn-outline-primary float-right align-middle">Apply</a>
</div>